.photo-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    margin: 20px;
    width: 20%;
}

.card:hover{
    cursor: pointer;
}

.card h1{
    font-weight: bold;
}

img.photo{
    width: 30%;
}